boto3==1.34.80
botocore==1.34.80
carbonplan_data==0.4.0
dacite==1.8.1
matplotlib==3.8.3

numcodecs==0.12.1
numpy==2.1.0
pandas==2.2.2
psutil==5.9.8
rasterio==1.3.9
Requests==2.32.3
s3fs==2024.3.1
tenacity==9.0.0
toml==0.10.2
xarray==2024.7.0
xarray_datatree==0.0.14
sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1

git+https://github.com/TomNicholas/datatree@54edbf77fdc756b74bfca00986f4a68e04643b29
git+https://github.com/carbonplan/ndpyramid@5ab3745cc42f2dd1e384f7c9f82dac071cfde1dc